anonymous_enable={{ var_anon_enable }}
local_enable={{ var_local_enable }}
no_anon_password={{ var_no_anon_password }}
anon_upload_enable={{ var_anon_upload  }}

write_enable=YES
local_umask=022
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_std_format=YES
listen=NO
listen_ipv6=YES
pam_service_name=vsftpd
userlist_enable=YES
